<app-cabecera
  [titulo]="'Infinite Scroll'"
  [color]="'warning'"
></app-cabecera>
<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngfor="let item of datos; let i = index">
      <ion-label>Elemento {{i+1}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll
    #infiniteScroll
    threshold="100px"
    (ionInfinite)="loadData()"
  >
  <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Cargando..."
  ></ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>
