<ion-header class="ion-no-border">
  <ion-toolbar color="dark">

    <ion-buttons slot="start">
      <ion-menu-button  menu="principal"></ion-menu-button>
    </ion-buttons>

    <ion-title>Página Inicial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list 
  [lines]="'full'" 
  [mode]="'ios'"
  >
    <ion-item [color]="c.color" 
    [routerLink]="c.ruta"
    *ngFor="let c of componentes"
    >
    <ion-icon 
    slot="start" 
    [name]="c.icono"
    ></ion-icon>
        {{ c.nombre }}
    </ion-item>
  </ion-list>
</ion-content>
